<div id="user-profile">
  <h1>Witaj, Username</h1>

  <md-tab-group>
    <md-tab label="Edytuj profil">
      <div>
        <form>
          <md-input-container>
            <input mdInput placeholder="Nazwa użytkownika">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Nazwisko">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Email">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Hasło">
          </md-input-container>
          Wydział
          <md-input-container>
            <input mdInput placeholder="Nazwa wydziału">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Skrócona nazwa">
          </md-input-container>
        </form>
        <button md-button>Zapisz</button>
      </div>
    </md-tab>
    <md-tab label="List użytkowników">Lista :)</md-tab>
  </md-tab-group>
</div>
