<md-card>
  <md-card-title>plac Inwalidów Wojennych 378/6</md-card-title>
  <md-card-subtitle>Skwer pomiędzy Placem Inwalidów a ulicą Obrońców Westerplatte</md-card-subtitle>
  <md-card-content>
    <p>Powodem wycinki jest podniesienie estetyki miejsca</p>
    <p>Wycięto 5 drzew</p>
    <div class="footer">
      <p>Ostatnio modyfikowano przez: User, Wydział Piękności i Dobrobytu (WPiD) o godzinie 2017-04-11T12:36:22+0000</p>
      <p>email: user@test.pl telefon: 123456789</p>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button>EDYTUJ</button>
  </md-card-actions>
  <img src="https://placehold.it/100x100" class="map-preview" />
</md-card>
