<md-card>
  <md-card-title>{{data.street}} {{data.parcelNumber}}</md-card-title>
  <md-card-subtitle>{{data.locationDesc}}</md-card-subtitle>
  <md-card-content>
    <p>Wycięto {{data.trees}} drzew</p>
    <p *ngIf="data.targetDesc">Powodem wycinki jest {{data.targetDesc}}</p>
    <p>{{data.comment}}</p>
    <div class="footer" *ngIf="data.name">
      <p>Ostatnio modyfikowano przez: {{data.name}} {{data.lastName}}, {{data.actualDepartment.name}}
        ({{data.actualDepartment.shortName}}) o godzinie {{data.modificationDate}}</p>
      <p>email: {{data.email}}</p>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="editProposal(data)">EDYTUJ</button>
  </md-card-actions>
    <img mdTooltip="Podgląd na mapie" src="https://placehold.it/100x100" class="map-preview" alt="map-preview"/>
</md-card>
