md-toolbar {

  .active {
    display: none;
  }

  span:first-child {
    text-transform: uppercase;
  }
}

#content {
  background-color: rgb(245, 245, 245);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  padding: 0 50px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
